{{define "page"}}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        {{template "Resources"}}
    </head>
    <body>
    <div class="uk-card uk-card-default uk-card-body">
        <h3>{{.Title}}</h3>
        <h4>{{.Date}}</h4>
        <p>{{.Link}}</p>
        <div class="uk-card uk-card-default uk-card-body">
            <p>{{.Comment}}</p>
        </div>
        <br>
        <a class="uk-button uk-button-default" href="/">ВЕРНУТЬСЯ НА ГЛАВНУЮ >></a>
    </div>
    </body>
    </html>
{{end}}

{{define "Resources"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
{{end}}